/ImageEncryptCompress/obj
/ImageEncryptCompress/Properties
/ImageEncryptCompress/bin
/.vs
/.vs/Image-encryption-/FileContentIndex/43c2889c-4bdd-45e3-a289-6390234ea5d1.vsidx
/.vs/Image-encryption-/FileContentIndex/899ee13a-d19b-49e6-9c9f-4656af35bbb4.vsidx
/.vs/Image-encryption-/FileContentIndex/68507e6b-c395-4f34-bd9f-5a1c0f554634.vsidx
/.vs/Image-encryption-/v17/.wsuo
/.vs/Image-encryption-/v17/DocumentLayout.json
/.vs/ImageEncryptCompression/FileContentIndex/c63acf19-32ff-4f2f-b554-e93e40cf66b2.vsidx
/.vs/ImageEncryptCompression/v17/.suo
/.vs/ImageEncryptCompression/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
ImageEncryptCompress/ImageEncryptCompress.csproj
